/* ================= navbar ================= */

.navbar-brand img {
    width: 120px;
}

.navbar-nav a:hover {
    color: #010F27;
}

.button {
    color: #ffffff;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #ffffff;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 5px;
}

#login:hover {
    background-color: #2034FF;
    color: #ffffff;
    border: 1px solid #2034FF;
}

#register:hover {
    background-color: #828cf6;
    color: #ffffff;
    border: 1px solid #828cf6;
}

.nav-item {
    margin-left: 10px;
    margin-right: 10px;
}

.dropdown-menu {
    background-color: #010F27;
}

.dropdown-item {
    color: #ffffff;
}

/* ================= footer =================*/
.page-footer {
    background-color: #000000;
    margin-top: 100px;
}

.page-footer .container {
    margin-bottom: 50px;
}

.page-footer .logo {
    width: 120px;
}

.moto {
    margin-top: 25px;
}

.map {
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;
    color: #010F27;
    border: none;
    margin-top: 25px;
    cursor: pointer;
}

.list-unstyled li {
    margin-top: 10px;
}

.list-unstyled li a {
    text-decoration: none;
    color: #ffffff;
}

.footer-copyright {
    background-color: #010F27;
    color: #ffffff;
}