@import url("navbar-and-footer.css");

* {
    font-family: 'Work Sans', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: #010F27;
}


/* HEADER */
/* ================= navbar ================= */
.navbar {
    background-color: #000000;
}

/* MAIN */

main .context{
    margin-top: 100px;
}

/* ================ slide produk ================ */

/* Slideshow container */
/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.thumbnail{
    margin-top: 25px;
}

.thumbnail:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */


/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

main .active,
.demo:hover {
    opacity: 1;
}


/* ================ detail Produk ================ */
.side-bar{
    background-color: rgba(255 , 255, 255, 0.2);
    min-height: 470px;
    border-radius: 20px;
    padding: 20px;
    color: #f2f2f2;
}

.text-rating{
    font-size: 13px;
    color: #fff48f;
    border-bottom: solid 1px #fff48f;
    margin-right: 4px;
}
.star-rating{
    font-size: 10px;
    color: #fff48f;
}

.text-penilaian{
    font-size: 13px;
    font-weight: bold;
    margin-top: 5px;
}

.text-penilaian span{
   color: #ffffffca;
   font-size: 13px;
   font-weight: normal;
}

.harga{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn{
    margin-top: 75px;
    width: 100%;
    
}

.slide-produk{
    margin-bottom: 50px;
}

.card-deskripsi{
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-bottom: 1px solid #ffffff;
}

.card-deskripsi .card-header{
    background-color: #00075965;
    color: #fff;
}

.text-deskripsi{
    color: #ffffff;
    margin: 0;
    text-transform: uppercase;
}


